<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= nomeDisciplina %> - Avaliações</title>
  <link rel="stylesheet" href="/stylesheets/avaliacoes.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <%- include('./partials/menuUsuario.ejs') %>

  <section class="section-intro">
    <div class="container">

      <div class="container-banner">
        <div class="breadcrumb-container">
          <a href="/">Início</a>
          <span class="separator">/</span>
          <a href="/periodos">Períodos</a>
          <span class="separator">/</span>
          <a href="/disciplinas/<%= periodoId %>" style="text-transform:capitalize;"><%= periodoId %></a>
          <span class="separator">/</span>
          <a href="/materiais/<%= periodoId %>/<%= disciplinaId %>" style="text-transform:capitalize;"><%= nomeDisciplina %></a>
          <span class="separator">/</span>
          <span class="current">Avaliações</span>

        </div>
      </div>
      <div class="nome-disciplina">
        <h3><%= nomeDisciplina %></h3>
      </div>

      <div class="content-wrapper">
        <div id="main-content" class="content-box main-content">
          <!-- Conteúdo inicial -->
          <h2>Bem-vindo à <%= nomeDisciplina %></h2>
          <p>Escolha um dos conteúdos da lista para começar a aprender.</p>
        </div>
        <div class="content-box content-list">
          <div class="titulo-avaliacao">
            <h3>Avaliações e Projetos</h3>
          </div>
          <ul>
            <li>
              <a href="#welcome" onclick="showWelcome()">Bem-vindo</a>
            </li>
            <% avaliacoes.forEach(function(avaliacao) { %>
              <li>
                <a href="#<%= avaliacao.nome %>" onclick="changeContent('<%= avaliacao.nome %>', '<%= avaliacao.descricao %>', '<%= avaliacao.pdf %>', '<%= avaliacao.link %>')"><%= avaliacao.nome %></a>

              </li>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <footer><%- include('./partials/footer.ejs') %></footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
  <script>
    const firebaseConfig = {
      // suas credenciais do Firebase
    };

    firebase.initializeApp(firebaseConfig);
    const db = firebase.firestore();

    function showWelcome() {
      var contentBox = document.getElementById('main-content');

      contentBox.innerHTML = `
        <h2>Bem-vindo à <%= nomeDisciplina %></h2>
        <p>Escolha um dos conteúdos da lista para começar a aprender.</p>
      `;

      window.location.hash = 'welcome';
    }

    function changeContent(nome, descricao, pdfPath, link) {
      var contentBox = document.getElementById('main-content');

      contentBox.innerHTML = `
        <h2>${nome}</h2>
        <p>${descricao}</p>
        ${pdfPath ? `<iframe src="/${pdfPath}" width="100%" height="600px"></iframe>
                      <p><a href="/${pdfPath}" class="pdf-link-button" target="_blank">Abrir PDF em uma nova guia</a></p>` : ''}
        ${link ? `<button class="pdf-link-button" onclick="openLink('${link}')">Acessar Link</button>` : ''}

      `;


      window.location.hash = nome;
    }

    function openLink(link) {
      if (link.startsWith('http')) {
        window.open(link, '_blank');
      } else {
        window.open(`http://${link}`, '_blank');
      }
    }
  </script>
</body>
</html>
